<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>url</param-name>
        <param-value>172.16.5.161:7141</param-value>
    </context-param>
  <servlet>
    <servlet-name>Serverlet</servlet-name>
    <servlet-class>com.test.hw.Serverlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>test</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>111111</param-value>
    </init-param>
  </servlet>
    <servlet>
        <servlet-name>TestServletContext</servlet-name>
        <servlet-class>com.test.hw.TestServletContext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServletContext2</servlet-name>
        <servlet-class>com.test.hw.TestServletContext2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestServletContext3</servlet-name>
        <servlet-class>com.test.hw.TestServletContext3</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestServletContext4</servlet-name>
        <servlet-class>com.test.hw.TestServletContext4</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestServletContext5</servlet-name>
        <servlet-class>com.test.hw.TestServletContext5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServletContext6</servlet-name>
        <servlet-class>com.test.hw.TestServletContext6</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestServletContext7</servlet-name>
        <servlet-class>com.test.hw.TestServletContext7</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestServletContext8</servlet-name>
        <servlet-class>com.test.hw.TestServletContext8</servlet-class>
    </servlet>

  <servlet-mapping>
    <servlet-name>Serverlet</servlet-name>
    <url-pattern>/servlet/TestServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TestServletContext</servlet-name>
    <url-pattern>/servlet/TestServletContext</url-pattern>
  </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TestServletContext2</servlet-name>
        <url-pattern>/servlet/TestServletContext2</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TestServletContext3</servlet-name>
        <url-pattern>/servlet/TestServletContext3</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TestServletContext4</servlet-name>
        <url-pattern>/servlet/TestServletContext4</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TestServletContext5</servlet-name>
        <url-pattern>/servlet/TestServletContext5</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TestServletContext6</servlet-name>
        <url-pattern>/servlet/TestServletContext6</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TestServletContext7</servlet-name>
        <url-pattern>/servlet/TestServletContext7</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TestServletContext8</servlet-name>
        <url-pattern>/servlet/TestServletContext8</url-pattern>
    </servlet-mapping>
    
</web-app>
